<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task_category.task_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task_category.category_id %>
</p>

<%= link_to 'Edit', edit_task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>
